@media screen and (max-width: 1250px) {
  section {
    width: 90% !important;
  }
}

@media screen and (max-width: 800px) {
  section {
    .app__node {
      .sc-hLBbgP {
        height: 380px !important;
        overflow-y: scroll;

        .listTotal {
          width: 100% !important;
          padding: 5% !important;

          .lists {
            height: auto;
            overflow: hidden !important;
            padding: 10px !important;
            margin: 20px 0px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .title h1 {
    font-size: 1.2em;
  }

  .sc-ftTHYK {
    font-size: 1.2em;
  }

  .sc-iBYQkv {
    font-size: 0.7em !important;
  }
}
